
.App {
  align-items: center;
  justify-content: center;
}


.bar {
  width: 80%;
  height: 3em;
  margin-left: 5em;
  margin-right: 5em;
  margin-top: 5em;
  display: flex;
  flex-direction: row;
}

.pill {
  background: white;
  border-radius: 3em;
  box-shadow: 0 12px 40px 14px hsl(0deg 1% 71% / 26%);

   padding-top: 0.8em;
  padding-bottom: 0.8em;
  padding-left: 1.6em;
  padding-right: 1.6em;

  justify-content: center;
  align-items: flex-start;
  display:flex;
  flex-direction: column;

  transition: opacity 0.5s;

}

.pill-top {
  padding-top: 0.1em;
    padding-bottom: 0.1em;
}

.pill-bottom {
  padding-top: 0.1em;
    padding-bottom: 0.1em;
  font-size: 0.8em;
  color: grey
}

.board {
  height: 80vh;
  width: 80vw;
  margin: 5em;
  border-radius: 2em;
  box-shadow: 0 12px 40px 14px hsl(0deg 1% 71% / 26%);
  display: flex;
  flex-direction: column;
   align-items: center; 
  justify-content: center; 
}

.textfield {
  height: 70vh;
  width: 75vw;
  font-size: 1.5em;
  border-width: 0px!important;
  outline: none!important;
}

/* .bar {
  position: relative;
  top: 5em;
  left: 5em;
  color: black;
  z-index: 9999;
} */


/* 
.pill {
  background: red;
  padding: 1em;
  border-radius: 1em;
  align-items: center;
  display: flex;
}

.textfield {
  width: 90%;
  height: 70%;
  padding: 3em;
  border-color: white;
  color: #222;
  border-radius: 2em;
  font-size: 1.4em;

}




.textfield:focus {
  outline: none !important;
} */